/* main page styling */

.main-head{
    text-align: right;
    margin-right: 40px;
    margin-top: 40px;
    display: grid;
    margin-bottom: 100px;
    font-size: 30px;
}

.main-content{
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
}

.search-book{
    font-size: 40px;
}

.add-book{
    margin-top: 200px;
    font-size: 25px;
    border: 2px solid;
    margin-left: 0px;
    border-radius: 30px;
    margin-right: 350px;
    border-width: 10px; 
}

input{
    width: 400px;
    font-size: large;   
    border: 2px solid;
    height: 70px;
    margin-right: 50px;
    margin-left: 55px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sub-button1{
    margin-top: 20px;
    width: 100px;
    height: 80;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 70px;
    border-radius: 15px;
}

.search-container{
    border: 2px solid;
    border-radius: 30px;
    margin-right: 500px;
    text-align: center;
    margin-left: 100px;
    border-width: 10px;
}

.sub-button2{
    margin-top: 20px;
    width: 100px;
    height: 80;
    text-align: center;
    margin-left: 430px;
    margin-bottom: 70px;
    border-radius: 15px;
}

.add-heading{
    font-size: 40px;
    margin-left: 370px;
}

.fom-errors{
    color: red;
    padding-left: 30px;
}

.book-details-grid{
    display: grid;
    grid-template-columns: 800px 1fr;
}

.book-details{
    border: 10px solid;
    border-style:dotted;    
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 70px;
    line-height: 70px;
    padding-left: 30px;
    margin-top: 120px;    
}

.head-details-book{
    font-size: 40px;
}

.searching{
    font-size: 50px;
}

.book-head{
    margin-left: 30px;
    font-size: 30px;
}

.book-list{
    font-size: 20px;    
    margin-left: 30px;
    line-height: 40px;
}

body{
    font-family: sans-serif;
}

.login-form{
    text-align: center; 
    margin-top: 150px;
    border: 5px solid;
    margin-left: 650px;
    margin-right: 650px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 30px;    
    padding-left: 30px;
    border-radius: 15px;
}

.button-login{
    margin-bottom: 20px;
    padding-left: 10px;
    height: 50px;
    margin-top: 20px;
    width: 100px;
    height: 80;
}

.login-title{
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
    text-decoration: underline;
}

.registration-form{
    text-align: center; 
    margin-top: 150px;
    border: 5px solid;
    margin-left: 650px;
    margin-right: 650px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 30px;    
    padding-left: 30px;
    border-radius: 15px;
}

.registration-button{
    margin-bottom: 20px;
    padding-left: 10px;
    height: 50px;
    margin-top: 20px;
    width: 100px;
    height: 80;
}

.registration-title{
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    text-decoration: underline;
}

.gen-footer{
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 50px;
}

.borrow-form{   
    margin-right: 1400px;
    padding-bottom: 20px;
    padding-top: 20px;    
}

.borrow-button{
    height: 50px;
    width: 100px;
    margin-left: 200px;
}

.borrow-content{
    margin-left: 300px; 
    margin-top: 150px;   
    line-height: 3  0px;       
}